<h6> Current Conditions: </h6> <p>
{{#each weather}}
{{description}}
{{/each}}
</p>
<<<<<<< HEAD
<h6> Current Temperature: </h6> <p>{{main.temp}} °F</p>
<h6> Current Wind Speed: </h6> <p>{{wind.speed}} mph</p>
<h6> Current Air Pressure: </h6> <p>{{main.pressure}} bar</p>
<button id='forecast3d' type="button" class="btn btn-default">3-Day Forecast</button>
<button id='forecast7d' type="button" class="btn btn-default">7-Day Forecast</button>
<div id='forecastTarget'> </div>
=======
<h6> Current Temperature: </h6> <p>{{main.temp}}</p>
<h6> Current Wind Speed: </h6> <p>{{wind.speed}}</p>
<h6> Current Air Pressure: </h6> <p>{{main.pressure}}</p>
<button id='forecast3d' type="button" class="btn btn-default"></button>
<button id='forecast7d' type="button" class="btn btn-default"></button>

>>>>>>> srdw-moreHB
 