<div class = "addPadding">
  {{dt}}
  <h4> Current Conditions: </h4> 
  {{#each weather}}

 <p>{{description}}</p>
  {{/each}}
  
  <h4> Current Temperature: </h4> <p>{{main.temp}} °F</p>
  <h4> Current Wind Speed: </h4> <p>{{wind.speed}} mph</p>
  <h4> Current Air Pressure: </h4> <p>{{main.pressure}} bar</p>
  <button id='forecast1d' type="button" class="btn btn-default">Today's Forecast</button>
  <button id='forecast3d' type="button" class="btn btn-default">3-Day Forecast</button>
  <button id='forecast7d' type="button" class="btn btn-default">7-Day Forecast</button>
</div>