
    <ul>{{#list}}
            {{#weather}}
            <p>Conditions</p>
                <li> Expect {{description}}
            {{/weather}}
            <p>Temperature Range</p>
            {{#temp}}
                <li>Low Temp {{min}}</li>
                <li>High Temp {{max}}</li>
            {{/temp}}
            Wind speed: {{speed}}
            Air Pressure: {{pressure}}
       {{/list}}
    </ul>


 