
    <ul>
        {{#each list}}

        <h3>Your Forecast</h3> 
        {{dt}}   
            {{#each weather}}
                <li> Forecast:  {{description}}
            {{/each}}

                <li>Low Temp: {{main.temp_min}}°F</li>
                <li>High Temp: {{main.temp_max}}°F</li>
                <li>Wind speed: {{wind.speed}} mph</li>
                <li>Air Pressure: {{main.pressure}} bar</li>
        {{/each}}
    </ul>


 