{{#each list}}
    <h3>Your Forecast</h3>
    {{dt}}
      {{#each weather}}
        <h5> Forecast:  {{description}}</h5>
    {{/each}}

    <p class="big">Temperature Range</p>
    <ul> 
        <li>{{temp.max}}°F</li>
        <li>{{temp.min}}°F</li>
        <li> Wind speed: {{speed}} mph</li>
        <li> Air Pressure: {{pressure}} bar</li>
    </ul>
{{/each}}