
    <ul>{{#each list}}
            {{#each weather}}
            <p class="big">Day {{@index}} Conditions</p>
                <li> Forecast:  {{description}}
            {{/each}}

            <p class="big">Temperature Range</p>
                <li>Low Temp {{main.temp_min}}°F</li>
                <li>High Temp {{main.temp_max}}°F</li>
                <li> Wind speed: {{wind.speed}} mph</li>
                <li> Air Pressure: {{main.pressure}} bar</li>
       {{/each}}
    </ul>


 