<div class = "addPadding">
  {{dt}}
  <h4> Current Conditions: </h4> 
  {{#each weather}}

  <p>{{description}}</p>
  {{/each}}

  <div> 
    <h4  class = 'inline'> Current Temperature: </h4> <p class = 'inline'>  {{main.temp}} °F</p>
  </div>
  <div>
    <h4 class = 'inline'> Current Wind Speed: </h4> <p class = 'inline'> {{wind.speed}} mph</p>
  </div>
  <div>
    <h4 class = 'inline'> Current Air Pressure: </h4> <p class = 'inline'>  {{main.pressure}} bar</p>
  </div>
  <div class = "buttonGrp">
    <button id='forecast1d' type="button" class="btn btn-default">Today's Forecast</button>
    <button id='forecast3d' type="button" class="btn btn-default">3-Day Forecast</button>
    <button id='forecast7d' type="button" class="btn btn-default">7-Day Forecast</button>
  </div>
</div>